body {
   background-image: url("back3.jpg");
}
h1 {
    color: white;
    font-family: verdana;
    font-size: 80px;
}
h2 {
    color: white;
    font-family: verdana;
    font-size: 30px;
}

h3 {
    color: white;
    font-family: verdana;
    font-size: 20px;
}


input[type=text] {
    width: 30%;
    margin: 3px 5px;
    box-sizing: w3-round;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-position: 360px 2px;
    background-repeat: no-repeat;
    padding: 10px 15px 10px 15px;
}

input[type=email] {
    width: 30%;
    margin: 3px 5px;
    box-sizing: w3-round;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-position: 360px 2px;
    background-repeat: no-repeat;
    padding: 10px 15px 10px 15px;
}

input[type=password] {
    width: 30%;
    margin: 3px 5px;
    box-sizing: w3-round;
    border-radius: 4px;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-position: 360px 2px;
    background-repeat: no-repeat;
    padding: 10px 15px 10px 15px;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 8px;
    cursor: pointer;
}